.dashboard-container {
  height: 100vh;
  height: 100dvh;
  overflow-y: hidden;
}

.dashboard-section {
  display: flex;
  width: 100%;
  padding-top: 80px;
  height: calc(100% - 80px);
}

.dashboard-aside {
  width: 18%;
  background-color: #1e2126;
  padding-top: 80px;
}

.dashboard-tab {
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 600;
}

.dashboard-tab-active {
  background-color: #fff;
  border-right: 5px solid #f61253;
}

.dashboard-tab-inactive {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.dashboard-tab-inactive:nth-child(1) {
  border-top: 1px solid #fff;
}

.btn-logout {
  position: fixed;
  bottom: 2px;
  background-color: #ffffff;
  color: #000000;
  left: 5%;
  padding: 5px 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-logout {
  height: 15px;
  width: 15px;
  margin-left: 10px;
}

.dashboard-main {
  width: 88%;
  margin: 20px 0;
  height: calc(100% - 40px);
}

.btn-create-ticket-wrapper {
  margin: 0 30px;
  padding-bottom: 15px;
}

.btn-create-ticket {
  font-size: 16px;
  color: #fff;
  background-color: #f61253;
  border-radius: 3px;
  padding: 0 15px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.dashboard-main-wrapper {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.dashboard-main-tickets {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  column-gap: 5%;
  row-gap: 3%;
  margin: 0 30px 150px;
  padding-top: 15px;
}

.dashboard-main-single-shimmer {
  height: 320px;
}

.dashboard-main-single-ticket {
  border: 1px solid #fefefe;
  height: 320px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 4px;
  border-radius: 3px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.single-ticket-row {
  display: flex;
  margin-bottom: 5px;
}

.single-ticket-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.single-ticket-img-wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.single-ticket-img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.single-ticket-text {
  width: 80%;
  font-size: 17px;
  font-weight: 600;
}

.single-ticket-tag {
  font-weight: 600;
  font-size: 16px;
  margin-right: 5px;
}

.single-ticket-btns-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.single-ticket-btn {
  width: 45%;
  font-size: 15px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
}

.single-ticket-btn-view {
  border: 1px solid #f61253;
  color: #f61253;
}

.single-ticket-btn-view:hover {
  background-color: #f61253;
  color: #ffffff;
}

.single-ticket-btn-edit {
  background-color: #f61253;
  color: #ffffff;
}

.single-ticket-btn-edit:hover {
  border: 1px solid #f61253;
  color: #f61253;
  background-color: #ffffff;
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .dashboard-main-tickets {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1080px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 969px) {
}

@media (max-width: 768px) {
  .dashboard-main-tickets {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
}
