header {
  padding: 20px 10%;
  background-color: #1e2126;
  display: flex;
  justify-content: space-between;
  position: sticky;
}

.nav-links,
.nav-controls {
  display: flex;
  align-items: center;
  color: #fff;
}

.nav-links li {
  margin-right: 50px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.nav-links-active {
  color: #f61253;
}

.nav-links li:hover {
  color: #f61253;
}

.search-input {
  height: 30px;
  width: 220px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 15px;
}

.nav-controls li:nth-child(2) {
  margin-left: 30px;
}

.btn-login {
  background-color: #f61253;
  margin-left: 20px;
  height: 30px;
  color: #fff;
  padding: 5px 20px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.btn-login:hover {
  opacity: 0.9;
}

.banner-section {
  height: 60vh;
  background-image: url("../../assets/rear-view-excited-fans-having-fun-music-festival-taking-pictures-stage-with-their-smart-phones-copy-space_637285-607.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 0 10%;
}

.banner-title {
  font-size: 48px;
  max-width: 60%;
  margin-bottom: 25px;
}

.banner-subtitle {
  font-size: 20px;
  margin-bottom: 25px;
}

.btn-cta {
  background-color: #f61253;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  display: flex;
  width: fit-content;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
}

.btn-cta:hover {
  opacity: 0.7;
}

.arrow-right {
  font-size: 20px;
  margin-left: 5px;
}

.browse-section {
  background-color: #f4f2f2;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
}

.browse-category {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browse-content {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse-icon {
  font-size: 25px;
}

.browse-item {
  font-size: 13px;
}

.explore-section {
  padding: 50px 10%;
}

.explore-tags {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.explore-tag {
  margin-right: 10px;
}

.btn-explore {
  padding: 7px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.btn-explore-active {
  background-color: #f61253;
  border: 1px solid #f61253;
  color: #fff;
}

.explore-items {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  justify-content: space-between;
  row-gap: 40px;
}

.explore-item {
  height: 320px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.explore-item-wallpaper {
  height: 70%;
  margin-bottom: 10px;
}

.explore-item-img {
  height: 100%;
  width: 100%;
}

.explore-item-title {
  padding: 0 7px;
  font-weight: bold;
  margin-bottom: 5px;
}

.explore-item-calendar {
  padding: 0 7px;
  margin-bottom: 5px;
  display: flex;
}

.explore-item-date {
  margin-right: 7px;
}

.explore-item-time {
  margin-left: 7px;
}

.explore-item-venue {
  padding: 0 7px;
  opacity: 0.5;
}

.explore-more {
  display: flex;
  justify-content: center;
}

.btn-explore-show-more {
  margin-top: 70px;
  border: 1px solid #f61253;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  color: #f61253;
  cursor: pointer;
}

.features-section {
  /* border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
  padding: 50px 10%;
  background-color: #f8f6f6;
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.feature-single {
  background-color: #fff;
  padding: 30px;
  border: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailinglist-section {
  display: flex;
  align-items: center;
  padding: 5% 10%;
}

.mailinglist-heading {
  font-size: 20px;
}

.mailinglist-info {
  width: 80%;
  font-size: 16px;
  line-height: 25px;
}

.mailinglist-form {
  display: flex;
  align-items: center;
}

.mailinglist-input {
  height: 40px;
  border-radius: 5px;
  width: 18vw;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 0 7px;
}

.mailinglist-btn {
  background-color: #f61253;
  margin-left: 10px;
  height: 40px;
  width: 80px;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

footer {
  background-color: #1e2126;
  color: #fff;
  padding: 5% 10%;
}

.user-profile-icon {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
